@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1170px;
    min-height: 700px;
}
.checkbox-custom {
    appearance: none;
    border: 2px solid #007bff;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: not-allowed;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-custom:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.checkbox-custom:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.radio-custom {
    appearance: none;
    border: 2px solid #007bff;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.radio-custom:checked {
    background-color: #007bff;
    border-color: #007bff;
}
